
@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&family=Major+Mono+Display&display=swap');


body {
    font-family: 'Kadwa'; /* Normal text in Kadwa */
     margin: 0;
    padding: 0;
    text-align: center;
    background-color: #F2C94C;
    background-image: url('back2.png'); /* Replace with your actual image file */
    background-size:cover; /* Ensures the image covers the whole screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    background-attachment:scroll; /* Keeps the image fixed while scrolling */
    

}

/* Apply Major Mono Display font to all titles */
.header, .sub-header, h1, h2, h3, h4, h5, h6 {
    font-family: 'Major Mono Display', monospace;

}


.gallery {
    display: flex;
    flex-wrap: wrap; /* Allows images to wrap into rows */
    justify-content:center; /* Centers the content */
    gap: 30px; /* Adjust spacing between images */
    padding: 20px;
    max-width: 900px; /* Adjust based on your design */
    margin:auto; /* Centers the gallery */
}

.gallery a {
    width: 25%; /* Ensures two images per row */
    text-align: center; /* Centers the image inside the link */
}

.gallery img {
    width: 100%; /* Ensures the image fully fills its container */
    height:fit-content; /* Maintains aspect ratio */
    border-radius: 40px;
    border: 6px solid rgb(255, 255, 255);
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.1);
}


.title {
    font-family: 'Major Mono Display', monospace;
    font-size: 48px;
    font-weight: bold;
    color: #D62828;
    letter-spacing: 5px;
    margin-top: 10px;
}

.subtitle {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
}

.back-button {
    display: inline-block;
    margin-top: 1px;
    background-color: #D62828;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.back-button:hover {
    background-color: #D62828;
}
